
.icon-menu:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-sort-numeric:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */