<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position_level.name %>
</p>

<%= link_to 'Edit', edit_position_level_path(@position_level) %> |
<%= link_to 'Back', position_levels_path %>
