<div class="grupo">
  <div class="caja movil-90 tablet-70 centrar-caja">
    <div class="form__block">
      <div class="form__title">
        <h3>Editar Actividad</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<script>parent.$.fancybox.close();</script>
